<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css" />		
	<link rel="icon" type="/image/x-icon" href="/images/LogoPF.png"/>
    <title>Login</title>
</head>
<body>
<section class="container forms">
    <div class="form login">
        <div class="form-content">
            <header>Login</header>
                <form class="form-login" action="#" th:action="@{/instrutor/acessar}" th:object="${instrutor}" method="post">
                <div class="field input-field">
                    <input type="email" id="email" placeholder="Digite seu email" class="input" th:field="*{EMAIL}" required>
                </div>

                <div class="field input-field">
                    <input type="password" id="senha" placeholder="Digite a senha" class="password" th:field="*{SENHA}" required>
                    <i class='bx bx-hide eye-icon'></i>
                </div>

                <div class="form-link">
                    <a href="" class="forgot-pass">Esqueceu a Senha?</a>
                </div>
                

                <div class="field button-field">
                <span th:text="${serverMessage}"></span>
                    <button type="submit">Entrar</button>
                </div>
            </form>

            <div class="login-register">
                <span><a th:href="@{/instrutor/cadastro}" class="create-login">Criar uma conta</a></span>
            </div>
        </div>

        <div class="line"></div>
    </div>
</section>
</body>
</html>
